" 设置 leader 键
nnoremap <SPACE> <Nop>
let mapleader = " "

" 设置搜索高亮
set hlsearch
" 设置增量搜索
set incsearch
" 设置搜索智能匹配大小写(set ignorecase时有效)
set smartcase
" 设置搜索忽略大小写
set ignorecase
" 设置显示当前模式
set showmode
" 设置光标滚动触发行数
set scrolloff=5

" 标记m{0-9a-zA-z} 跳转'{0-9a-zA-z}
set ideamarks
" 快速跳转
set easymotion
" {operation}s{motion} e.g. ysiw"
set surround
" 参数文本对象 将参数作为一个文本对象 a {operation}[count]{motion}a e.g.
set argtextobj
" 设置相对行号
set relativenumber
" 设置行号
set number
" 交换文本对象 cx{motion}
set exchange
" 高亮回显复制
set highlightedyank
" 全缓冲区文本对象e e.g. vae(同ggVG) vie
set textobj-entire
" normal模式下自动切换英文输入法(需开启美式键盘)
set keep-english-in-normal
set NERDTree
" 使用寄存器替换，不会更改寄存器内容 [count]["x]gr{motion}
set ReplaceWithRegister
" 基础按键映射
nnoremap L $
vnoremap H ^
nnoremap H ^
vnoremap L $
inoremap jk <esc>

" nerdtre
nnoremap <leader>e :NERDTreeFocus<CR>
" 垂直分屏
nnoremap <leader>sv :vsplit<CR>
" 水平分屏
nnoremap <leader>sh :split<CR>
" 分屏切换
nmap <c-h> <c-w>h
nmap <c-j> <c-w>j
nmap <c-k> <c-w>k
nmap <c-l> <c-w>l

nmap U :action $Redo<CR>

nnoremap <C-s> :w<CR>
vnoremap <C-s> :w<CR>
" Idea specific settings ------------------
set ideajoin
set idearefactormode=keep
" 清除搜索高亮
nnoremap <esc><esc> :nohlsearch<CR>
" easymotion 快速跳转
map s <Plug>(easymotion-s)
map f <Plug>(easymotion-f)
map F <Plug>(easymotion-F)
map t <Plug>(easymotion-t)
map T <Plug>(easymotion-T)
" 前一个方法
nmap [[ <Action>(MethodUp)
" 后一个方法
nmap ]] <Action>(MethodDown)

noremap <Leader>p "0p
vnoremap Y "+y
vnoremap <C-j> :action MoveStatementDown<CR>
vnoremap <C-k> :action MoveStatementUp<CR>
inoremap <C-j> <Esc>:action MoveStatementDown<CR>i
inoremap <C-k> <Esc>:action MoveStatementUp<CR>i
" 共享系统粘贴板
set clipboard=unnamed
set clipboard+=ideaput

" 下一个tab
nnoremap tm gt
" 上一个tab
nnoremap tn gT

" insert 模式下光标移动
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>

nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
inoremap <C-l> <Esc>:action EditorCompleteStatement<CR>

" Quit normal mode
nnoremap <leader>q :q<CR>
nnoremap <leader>Q :qa!<CR>

" intellij built in key map
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>b :action GotoFile<CR>
nnoremap <leader>c :action GotoClass<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>ga :action Annotate<CR>
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <leader>nj :action NewClass<CR>
nnoremap <leader>nt :action Kotlin.NewFile<CR>
nnoremap <leader>rf :action RecentFiles<CR>
nnoremap <leader>rp :action RecentProjectListGroup<CR>
nnoremap <leader>ry :action CopyReference<CR>
" jump to next error
noremap <leader>j <ESC>:action GotoNextError<CR>
" jump to previous error，就近原则
noremap <leader>k <ESC>:action GotoPreviousError<CR>
" build and compile code
nnoremap <leader>mr :action Maven.Reimport<CR>
vnoremap <C-m> :action ExtractMethod<CR>

nnoremap <leader>v :action IntroduceVariable<CR>
vnoremap <leader>v :action IntroduceVariable<CR>

nnoremap <leader>tr :action CloseAllToTheRight<CR>
nnoremap <leader>tl :action CloseAllToTheLeft<CR>
nnoremap <leader>to :action CloseAllEditorsButActive<CR>
nnoremap <leader>ta :action CloseAllEditors<CR>

" run and debug
nnoremap ,d :action Debug<CR>
nnoremap ,r :action Run<CR>
nnoremap ,c :action CompileDirty<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,v :action ViewBreakpoints<CR>
nnoremap ,s :action Stop<CR>
" navigation
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gb :action JumpToLastChange<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action FileStructurePopup<CR>

" code actions
nnoremap <leader>u :action FindUsages<CR>
nnoremap <C-r> :action RenameElement<CR>
nnoremap == :action ReformatCode<CR>
vnoremap = :action ReformatCode<CR>
nnoremap -- :action OptimizeImports<CR>
nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>
vnoremap cb :action CommentByBlockComment<CR>
